:root{
    --primary-color: rgba(0,0,0,255);
    --secondary-color: rgba(27,27,29,255);
    --tertiary-color: rgba(227,227,232,255);
    --text-color: rgba(255,255,255,255);
    --secondary-text-color: rgba(149,148,152,255);
    --primary-accent-color: #007aff;
    --secondary-accent-color: #35c759;
    --alt-color: #e1b53f;
    --tertiary-accent-color: #e6352b;
}

*{
    box-sizing: border-box;
    
    /* outline: 1px solid grey; */
}
html{
    margin-bottom: 100px;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);

    font-family: 'Nunito', sans-serif;
    margin: 0;
    height: 100%;
}

h1, h2, h3, p{
    margin: 0;
}

.show-window{
    display: flex;
}

.hide-window{
    display: none;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
    margin-bottom: 1em;
}

/* Typography */

.section-title{
    
}

.item{
    margin: 1em 0;
}

.item-name{
    font-weight: 600;
}

/* Layout */
.app{

    display: flex;
    flex-direction: column;
}
.app-width{
    width: 90%;
    margin: 0 auto;
}

.input{
    border: none;
    border-radius: 11px;

}

.input-color{
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.action{
    position: absolute;
    top: 90%;
    bottom: 15%;
    left: 80%;
    right: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 2em;

    border: none;
    cursor: pointer;
}

.action-color{
    background-color: var(--primary-color);
    color: var(--text-color);
    
}
.action-label{
    font-size: 3.4rem;
}

.search-input{
    padding: .5em;
    font-size: 1.2rem;
}

.item{
    display: flex;
    flex-direction: column;
    padding: 1em;

    background-color: var(--secondary-color);
    border-radius: 9px;

}


.item-color{
    background-color: var(--secondary-color);
}

.item-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.item-data{
    display: flex;
    justify-content: space-between;
    margin: .2em 0;

    color: var(--secondary-text-color);
}

.nav-btn{
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
}

.btn-container{
    display: flex;
}
.btn-icon{
    font-size: 2.3rem;
}

.add-btn-icon, .item-delete-icon{
    
}

.add-btn-icon{
    
}
.item-delete-icon{
    color: var(--tertiary-accent-color);
    background-color: var(--secondary-color);
}
.delete-btn{
    background-color: var(--secondary-color);
    border: none;
}
.item-undo-icon{
    color: var(--secondary-accent-color);
    background-color: var(--secondary-color);
}
.item-edit-icon{
    color: var(--secondary-accent-color);
    background-color: var(--secondary-color);
}
.item-use-icon{
    color: #007aff;
}
.add-container{
    background-color: rgba(0,0,0,.4);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    height: 100%;
    width: 100%;
}

.add-event{
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--primary-accent-color);
    border-radius: 14px;
    padding: 1em;

    width: 80%;
    height: 70%;
}

.dialogNavbar{
    display: flex;
    justify-content: space-between;

    color: var(--alt-color);
}
.dialog-btn{
    background-color: var(--primary-color);
    color: var(--alt-color);
    border: none;
    font-size: 1rem;
}
.back-btn{
    
}


.add-item-title{
    margin-top: .5em
}

.input-fields{
    margin-top: 1em;
}
.input-field{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
.add-input{
    background-color: var(--secondary-color);
    outline: 1px solid var(--text-color);
    color: var(--text-color);
}

/* Menu window */
.menu-container{
    background-color: var(--primary-color);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    height: 100%;
    width: 100%;
}
.close-btn{
    font-size: 2.3rem;
}
.menu-btn{
    display: flex;
    align-content: center;
    text-align: center;

    border: none;
    border-radius: 12px;
    cursor: pointer;

    padding: 1em .4em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.menu-btn-color{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 2rem;

    margin-left: .5em;
    margin-right: .5em;
}
.menu-btn-name{
    display: block;
    align-self: center;
    font-size: 1.1rem;

    letter-spacing: 1px;
}
.menu-home-icon{
    color: var(--primary-accent-color);
}
.menu-favorite-icon{
    color: rgb(255, 25, 217);
}
.menu-budget-icon{
    color: var(--secondary-accent-color);
}
.menu-bin-icon{
    color: var(--tertiary-accent-color);
}
.menu-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.user-opt-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    height: 60%;
    border-top: 1px solid var(--text-color);
}
.settings-opt{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    height: 30%;
    border-top: 1px solid var(--text-color);
}


/**/
.price{
    color: var(--alt-color);
}
.total-container{
    display: flex;
    justify-content: center;

    /* To be decided */

    border-radius: 9px;
    background-color: var(--secondary-color);

    padding: 1em;
    margin-top: 1em;
}
.total-amount{
    font-size: 2rem;
}
.hidden-total-amount-div{
    display: none;
}
.total-amt{
    color: var(--secondary-accent-color);
}
.items-list{
    margin-bottom: 1em;
}
.item-user-options{
    display: flex;
    align-items: center;
}
.item-icon{
    display: block;
    border: none;
    background-color: var(--secondary-color);
    margin: 0 .5em;
    padding: 0;
    font-size: 1.8rem;
    cursor: pointer;
}
.settings-list{
    display: flex;
    flex-direction: column;
}
.setting-btn{
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 1.3rem;

    border: none;
    border-radius: 12px;
    cursor: pointer;

    padding: 1em .4em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.settings-btn-color{
    background-color: var(--secondary-color);
    color: var(--text-color);
}